<% if cast_data.present? %>
  <h2>Elenco Encontrado</h2>
  <table>
    <thead>
      <tr>
        <th>Nome Personagem</th>
        <th>Nome Ator/Atriz</th>
        <th>URL da Foto</th>
      </tr>
    </thead>
    <tbody>
      <% cast_data.each do |cast| %>
        <tr>
          <td><%= cast[:nome_personagem] %></td>
          <td><%= cast[:nome_real] %></td>
          <td><%= cast[:url_foto] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Elenco não disponível</p>
<% end %>